main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-height: 100vh;
}

.card {
    background-color: #ffffff;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
